.herosection{
    height: auto;
    z-index: 0;
}
.herosection p, .herosection h2{
    color: black;
    text-transform: capitalize;
}
.herosection h2{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
@media screen and (max-width: 960px) {
}