.sale{
    background-color: black;
    color: white;
    font-variant: small-caps;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -18px;
}
.herosection{
    height: auto;
    z-index: 0;
    background-size: cover;
    margin-top: -15px;
}
.herosection p, .herosection h2{
    color: black;
    text-transform: capitalize;
}
.herosection h2{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
@media screen and (max-width: 960px) {
}
@keyframes fade-up {
    0%{
        transform: translateY(200px);
        transform: scale(0);
      }
      100%{
        transform: translateY(0px);
        transform: scale(1);
      }

}